# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods (if used later)
Pods/

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# OS
.DS_Store
*.swp
*~
